.idea/
anki-2.1.3-linux-amd64/
anki.sh
geckodriver
logradio.log
nohub.out
pycharm-community-2018.1.4/
sleep-radio-file.txt
test-sites.txt
wakeup-radio-file.txt
wakeup-radio.log
weekend-music.txt
nohup.out
